{% include 'header.html' %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">Сброс пароля</h3>
        <div class="mt-4 text-center">
            <form action="/reset_action" method="POST" class="max-w-md mx-auto">
                <div>
                    <label for="email" class="block">Почта</label>
                    <input type="email" name="email" id="email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                </div>
                {% include 'auth/message.html' %}
                <div class="flex items-center justify-center mt-4 mb-4">
                    <button type="submit" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Восстановить</button>
                </div>
            </form>
        </div>
        <div class="text-sm mt-4 text-center">
            <p>Уже есть аккаунт? <a href="/login" class="font-medium text-blue-600 hover:underline">Войти</a></p>
        </div>
    </div>
</div>
{% include 'footer.html' %}
