{% include 'header.html' %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">Админ панель</h3>
        <form action="/admin_login" method="POST" class="text-center">
            <div class="mt-4">      
                <div>
                    <label class="block" for="email">Токен</label>
                    <input name="key" type="text" class="w-2/3 px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                {% include 'auth/message.html' %}
                <div class="flex items-center justify-center mt-4 mb-4">
                    <button type="submit" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html' %}
